@model InformationViewModel
@{
    ViewData["Title"] = "Index";
}
<h2>Information</h2>

<form asp-controller="information" asp-action="Index" method="get">
    <p>
        <select asp-for="category">
            <option value="book">book</option>
            <option value="music">music</option>
            <option value="movie">movie</option>
            <option value="food">food</option>
            <option value="">All</option>
            </select>
        <input type="submit" value="Refresh" />

            <select asp-for="subcategory" asp-items="Model.selectedCategory">
                <option value="">All</option>
            </select>
           
            <input type="submit" value="Search" />

</p>
</form>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.information[0].gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.information[0].movie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.information[0].name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.information[0].book)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.information[0].music)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.information[0].food)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.information[0].age)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.information)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.movie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.book)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.music)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.food)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.age)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
